root = false

[*.cs]
dotnet_style_namespace_match_folder = false
csharp_style_namespace_declarations = file_scoped

# Folders don't affect namespace
# ServiceTypes/
# Commands/
# Registration/
# Services/
